<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="demo.js"></script>
  </head>
  <body ng-app="app">

    <div ng-controller="myController">
      <button ng-click="lookAtScope()">Click</button>
      <input ng-model="firstName">
      <input ng-model="surname">
      <br />
      <br />
      {{::surname}}
      <br />
      {{::fullName}}
      <br />

      <button ng-click='makeFullName()'>Click</button>

      <div>
        <hr />
        <br />
        <a href="">Click</a>
        <br />
        {{hello}}
        <br />
        <input ng-model="a" />
      </div>
    </div>
  </body>
</html>








<!--
Initial state:

<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="demo.js"></script>
  </head>
  <body ng-app="app">

    <div ng-controller="myController">
      <!-- <input ng-model="firstName">
      <input ng-model="surname">
      <br />
      {{firstName}}
      <br />
      {{surname}}
      <br />
      {{fullName}}
      <br /> - ->

      <!-- <button ng-click='makeFullName()'>Click</button>

      <!-- <a>Click</a>
      {{hello}}
      <input ng-model="a" /> - ->
    </div>
  </body>
</html>

